apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
kind: ControllerManagerConfig
health:
  healthProbeBindAddress: :8081
metrics:
  bindAddress: 127.0.0.1:8080
webhook:
  port: 9443
leaderElection:
  leaderElect: true
<<<<<<< HEAD
  resourceName: f0fb677d.authorino.3scale.net
=======
  resourceName: aac3a15d.kuadrant.3scale.net
>>>>>>> 2620723 (Adds reconcilation of Authorino instances)
