apiVersion: apps/v1
kind: Deployment
metadata:
  name: authorino-operator
  namespace: system
  labels:
    control-plane: authorino-operator
spec:
  selector:
    matchLabels:
      control-plane: authorino-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: authorino-operator
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /manager
        env:
        - name: RELATED_IMAGE_AUTHORINO
          value: quay.io/kuadrant/authorino:latest
        args:
        - --leader-elect
        image: controller:latest
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
          seccompProfile:
            type: RuntimeDefault
        ports:
        - name: metrics
          containerPort: 8080
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 300Mi
          requests:
            cpu: 200m
            memory: 200Mi
      serviceAccountName: authorino-operator
      terminationGracePeriodSeconds: 10
