apiVersion: v2
name: authorino-operator
description: Kubernetes operator for managing Authorino instances, a K8s-native AuthN/AuthZ service to protect your APIs.
home: https://kuadrant.io
icon: https://raw.githubusercontent.com/Kuadrant/kuadrant.github.io/main/static/img/apple-touch-icon.png
keywords:
  - authorino
  - authn
  - authz
  - authorization
  - authentication
  - service protection
  - kubernetes
  - kuadrant
sources:
  - https://github.com/Kuadrant/authorino-operator/
  - https://github.com/Kuadrant/authorino/
kubeVersion: ">=1.19.0-0"
type: application
# The version will be properly set when the chart is released matching the operator version
version: "0.13.0-rc1"
maintainers:
  - email: mcassola@redhat.com
    name: Guilherme Cassolato
  - email: didier@redhat.com
    name: Didier Di Cesare
  - email: eastizle@redhat.com
    name: Eguzki Astiz Lezaun
