
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: authorinoes.authorino-operator.kuadrant.3scale.net
spec:
  group: authorino-operator.kuadrant.3scale.net
  names:
    kind: Authorino
    listKind: AuthorinoList
    plural: authorinoes
    singular: authorino
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Authorino is the Schema for the authorinoes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AuthorinoSpec defines the desired state of Authorino
            properties:
              clusterwide:
                type: boolean
              image:
                type: string
              imagepullpolicy:
                type: string
              listener:
                properties:
                  certkeypath:
                    type: string
                  certpath:
                    type: string
                  port:
                    format: int32
                    type: integer
                  tsl:
                    type: boolean
                type: object
              oidcserver:
                properties:
                  certkeypath:
                    type: string
                  certpath:
                    type: string
                  port:
                    format: int32
                    type: integer
                type: object
              replicas:
                format: int32
                type: integer
            type: object
          status:
            description: AuthorinoStatus defines the observed state of Authorino
            properties:
              authorinoinstances:
                description: Number of authorino instances in the cluster
                format: int32
                type: integer
              conditions:
                description: 'Conditions is an array of the current Authorino''s CR
                  conditions Supported condition types: ConditionReady'
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transit from one status
                        to another.
                      format: date-time
                      type: string
                    lastUpdatedTime:
                      description: Last time the condition was updated
                      format: date-time
                      type: string
                    message:
                      description: Human readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: (brief) reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
            required:
            - authorinoinstances
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
